<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crime in Victoria 2019-2022 - Julia Cooper</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" href="static/CSS/styles.css">
    <link rel="stylesheet" href="static/CSS/d3Style.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>


<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Crime in Victoria 2019-2022</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse spacing" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="indexoffendingpatterns.html">Offending Patterns 2019-2022</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" href="/Crime 2022">Click to explore the offending patterns for 2022</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="indexdifferentcolouredcircles.html">Colored Charts</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- Start of container -->

    <!-- iframe width=“600” height=“371" seamless frameborder=“0” scrolling=“no” src=“https://docs.google.com/spreadsheets/d/e/2PACX-1vR6VQMj_vmXqKS2Lv0nB6zD0KRopezDrzqIGbgZmN_Pj93je4edWCwYtAoZOEd4ekM7pJ1OAA3hJLOZ/pubchart?oid=68467391&amp;format=interactive”></iframe> -->

    <section class="row" style="background-color: #b8bcc2;">
        <div class="col-sm-12">
            <section style="padding: 30px; background-color:white;">


                <h3>Number of incidents by Offence Divisions</h3>
                <div class="col-md-10">
                    <!-- <div class="wrapper"> -->
                    <div style="
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 16px;">
                        <canvas id="myChart"></canvas>


                        <div style="
    margin-left: 0px;
    padding-left: 16px;">
                            <div class="col-md-2">
                                <div class="well">
                                    <h5>Select LGA:</h5>
                                    <select id="selLGA" onchange="optionChanged(this.value)"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-xs-12  col-md-6 -->
                    ">

                    <div class="card-body">
                        <h4 class="card-title">Offence Types in Victoria 2019-2022</h4>
                        <br>
                        <p class="card-text"> 
                            Context: Crimes are reportd by five geographical levels in Victoria. 
                            They are grouped into 6 separate 'Offence Divisions' with each of these divisions being broken 
                            down into Subdivisions and then further into Subgroups.
                            <br><br>
                            The chart above provides an overview of the number of incidents by Offence Division from March to March over 4 years. The information can be viewed as a total by selcting 'All' 
                            or filtered by any Local Government Area (LGA). 
                            <br><br>
                            Property and deception offences account for the majority of incidences actross all years. They increased in 2020
                            and have tapered off over the past 2 years. The number of reported 'crimes against the person' increased slightly in 2020.  
                            <br><br>
                            The 'Offending 2022' tab at the top right leads to a more granular view of the types and volumes of Sub Offences and Subgroups
                            for each Offence Division.
                        </p>
                    </div>
                </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='js/mychart.js') }}"></script>
</body>

</html>